<figure class="card">
  <div class="card__hero">
      <img src="{%PRODUCT_IMAGE%}" alt="{%PRODUCT_NAME%}" class="card__img">
  </div>
  <h2 class="card__name">{%PRODUCT_NAME%}</h2>
  <p class="card__detail"><span class="emoji-left">🖥</span>{%PRODUCT_SCREEN%}</p>
  <p class="card__detail"><span class="emoji-left">🧮</span>{%PRODUCT_CPU%}</p>
  <div class="card__footer">
      <p class="card__price">${%PRODUCT_PRICE%}</p>
      <a href="laptop?id={%PRODUCT_ID%}" class="card__link">Check it out <span class="emoji-right">👉</span></a>
  </div>
</figure>